<p id="notice"><%= notice %></p>

<h1 align="center" style="color:#6396e8; font-family:Ubuntu">Users</h1>

<table align="center" style="color:#6396e8" width= 80%>
  <thead>
    <tr>
      <th>Last name</th>
      <th>First name</th>
      <th>Rating</th>
      <th>Age</th>
      <th>Gender</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.last_name %></td>
        <td><%= user.first_name %></td>
        <td><%= user.rating %></td>
        <td><%= user.age %></td>
        <td><%= user.gender %></td>
        <td><%= link_to 'View Profile', user_path(current_user), {style: "color: #6396e8"} %>
          
        </td>
        <td><%= link_to 'Edit Profile', edit_user_path(user), {style: "color: #6396e8"} %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
