
<h1 align="center" style="color:#6396e8; font-family:Ubuntu">My Profile</h1>

<p id="notice"><%= notice %></p>
<div align="center" style="color:#6396e8">
<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @user.rating %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>



<%= link_to 'Edit', edit_user_path(@user), {style: "color: #6396e8"} %> |
<%= link_to 'Back', users_path, {style: "color: #6396e8"} %>
</div>