<p id="notice"><%= notice %></p>

<h1>All Sittings</h1>

<table>
  <thead>
    <tr>
      
      <th>Start time</th>
      <th>Stop time</th>
      <th>Date</th>
      <th>Number of kids</th>
      <th>Billed amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sittings.each do |sitting| %>
      <tr>
        
        <td><%= sitting.start_time %></td>
        <td><%= sitting.stop_time %></td>
        <td><%= sitting.date %></td>
        <td><%= sitting.number_of_kids %></td>
        <td><%= sitting.billed_amount %></td>
        <td><%= link_to 'Show', sitting %></td>
        <td><%= link_to 'Edit', edit_sitting_path(sitting) %></td>
        <td><%= link_to 'Destroy', sitting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sitting', new_sitting_path %>
