<p id="notice"><%= notice %></p>

<h1>My Sittings</h1>

<table>
  <thead>
    <tr>
      
      <th>Start time</th>
      <th>Stop time</th>
      <th>Date</th>
      <th>Number of kids</th>
      <th>Billed amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_sittings.each do |my_sitting| %>
      <tr>
        <td><%= my_sitting.start_time %></td>
        <td><%= my_sitting.stop_time %></td>
        <td><%= my_sitting.date %></td>
        <td><%= my_sitting.number_of_kids %></td>
        <td><%= my_sitting.billed_amount %></td>
        <td><%= link_to 'Show', my_sitting %></td>
        <td><%= link_to 'Edit', edit_sitting_path(my_sitting) %></td>
        <td><%= link_to 'Destroy', my_sitting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sitting', new_sitting_path %>
