<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @sitting.date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @sitting.start_time %>
</p>

<p>
  <strong>Stop time:</strong>
  <%= @sitting.stop_time %>
</p>



<p>
  <strong>Number of kids:</strong>
  <%= @sitting.number_of_kids %>
</p>

<p>
  <strong>Billed amount:</strong>
  <%= @sitting.billed_amount %>
</p>

<%= link_to 'Edit', edit_sitting_path(@sitting) %> |
<%= link_to 'Back', sittings_path %>
