<!DOCTYPE html>
<html>
  <head>
    <title class="text-center" style="color:#6396e8; font-family:Ubuntu;">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">ZipNanny</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  </head>
  <body>
    
    <nav style="color:#6396e8; padding-top: 20px; padding-left: 10px" class="navbar navbar-toggleable-md navbar-mike bg-primary" >
      <% if current_user %>
      
      <p  style="font-family:Ubuntu; font-size: 250%">ZipNanny</p>
      <div align="right" style="padding-right: 10px">
        <p>Hello, <%= current_user.first_name %>!
          <%= link_to 'All Sittings', sittings_path, {style: "color: #6396e8"} %>
          <%= link_to 'My Sittings', my_sittings_path, {style: "color: #6396e8"} %>
          <%= link_to 'My Profile', user_path(current_user), {style: "color: #6396e8"} %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        </div>
        <% else %>
        <div align="right">
          <%= link_to 'Register', new_user_registration_path, {style: "color: #6396e8"} %>
          <%= link_to 'Login', new_user_session_path, {style: "color: #6396e8"} %>
        </div>
        <% end %>
      </nav>
      <%= yield %>
    </body>
  </html>